


#allContainer {
    margin-top: 1rem;
}
#soal-content .button{
    position: absolute;
    top: 1em;
    right: 1em;
}
#Pertanyaan .ribbon{
    position: absolute;
    top: 1rem;
    left: -1rem;
}
.mini.text {
  font-size: 0.78571429rem;
}

.tiny.text {
  font-size: 0.85714286rem;
}

.small.text {
  font-size: 0.92857143rem;
}

.text {
  font-size: 1rem;
}
.large.text {
  font-size: 1.14285714rem;
}

.big.text {
  font-size: 1.28571429rem;
}

.huge.text {
  font-size: 1.42857143rem;
}

.massive.text {
  font-size: 1.71428571rem;
}
.super.text{
    font-size: 2.5rem;
}

.arabic{
    direction: rtl;
    font-family: 'Scheherazade', serif;
}
.column.borderLeft{
    border-left: 1px solid rgba(34,36,38,.15)
}
#skor .segment .header{
    margin: calc(2rem - 1.142857em) 0 0.5rem
}
#waktu .green.inverted{
    border-color: #d4d4d5;
}

#waktu .row{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
